/* Importing the Google Font */
@import url('https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap');

/* Defining the root for CSS File */
:root{
    /* Element Colors */
    --bg-color : linear-gradient(45deg , blue, pink);
    --google-color : linear-gradient(45deg , #008744, #0056e3 , #d62d20 , #ffa700 , #ffffff);
    --youtube-color : linear-gradient(45deg , #363636, #3f4042 , #c3352e , #ac362e , #ffffff);
    --twitch-color : linear-gradient(45deg , #383838, #6c4a7e	 , #a17cb8 , #c6b3d0 , #ecebe1);
    --wikipedia-color : linear-gradient(45deg , #f8f9fa, #a2a9b1	 , #ffffff , #0645ad , #0b0080);
    --spotify-color : linear-gradient(45deg , #232723, #62d089 , #e1ece3 , #457e59 , #a8b2a8);
    --search-box-color : #ffffff;
    --outline-color : #000000;
    --heading-text-color : #ffffff;
    --Box-Shadow : 10px 10px 15px var(--black);

    /* Basic Properties */
    --border-radius : 20px;
    --search-radius : 20px;

    /* Basic Colors */
    --black : #000000;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'REM';
}

/* Styling Body */
body{
    background-image: var(--google-color);
    background-size: 400% 400%;
    /* Adding animation for Infinite Background */
    animation : Backgroundroll 30s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

/* Keyframes for the animation of infinite background */
@keyframes Backgroundroll {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position:  100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

/* Styling The Main Text Part on the page */
.header{
    margin: 20px;
    margin-bottom: 40px;
    font-size: 26px;
    color: var(--heading-text-color);
    text-align: center;
}

/* Styling the paragraph section on header */
.header p{
    margin: 30px;
    text-align: center;
    font-size: 20px;
    width: 600px;
}
 
/* Styling the Main Section */
.main{
    display: flex;
    align-items: center;
}

/* Styling The Search Box */
.search-box{
    background-color: var(--search-box-color);
    border-radius: var(--border-radius);
    outline: 2px solid var(--outline-color);
    width: 800px;
    height: 60px;
    display: flex;
    /* Adding animation to Search box */
    animation: Inputin 3s ease-in 1;
    /* Adding Box Shadow */
    box-shadow: var(--Box-Shadow);
}

/* Search Box KeyFrames */
@keyframes Inputin {
    from{
        width: 0%;
    }to{
        width: 100%;
    }
}

/* Styling the Search Input */
.search-input{
    margin: 20px;
    padding: 10px;
    border: 0px;
    outline: none;
    width: 740px;
    font-size: 16px;
    /* Adding Animation to search Input */
    animation: placeholderin 3s ease-in 1;
    animation-delay: 3s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

/* Search Input KeyFrames */
@keyframes placeholderin {
    from{
        visibility: visible;
        width: 0%;
    }to{
        visibility: visible;
        width: 100%;
    }
}

/* Styling Search Button */
#search {
    margin: 10px;
    padding: 15px;
    outline: 2px solid var(--outline-color);
    border-radius: var(--search-radius);
    background-color: var(--search-box-color);
    cursor: pointer;
    /* Adding Box Shadow */
    box-shadow: var(--Box-Shadow);
}

/* Styling The Options Section */
.options{
    background-color: var(--search-box-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid var(--outline-color);
    border-radius: var(--border-radius);
    justify-content: center;
    margin: 10px;
    padding: 20px;
    /* Adding Box Shadow */
    box-shadow: var(--Box-Shadow);
}

/* Styling the Search Option */
#search-option{
    outline: none;
    font-size: 16px;
    border: 1px solid var(--outline-color);
    border-radius: var(--border-radius);
}

@media(max-width: 926px){

    .header{
        margin: 20px;
        margin-bottom: 40px;
        font-size: 26px;
        color: var(--heading-text-color);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Styling The Main Text Part on the page */
    .header{
        margin: 20px;
        margin-bottom: 40px;
        font-size: 20px;
        color: var(--heading-text-color);
        text-align: center;
        max-width: 300px;
    }

    /* Styling the paragraph section on header */
    .header p{
        margin: 30px;
        text-align: center;
        font-size: 15px;
        width: 300px;
    }

    /* Styling The Search Box */
    .search-box{
        background-color: var(--search-box-color);
        border-radius: var(--border-radius);
        outline: 2px solid var(--outline-color);
        width: 300px;
        height: 60px;
        display: flex;
        /* Adding animation to Search box */
        animation: Inputin 2s ease-in 1;
        /* Adding Box Shadow */
        box-shadow: var(--Box-Shadow);
    }

    .search-input{
        margin: 20px;
        padding: 10px;
        border: 0px;
        outline: none;
        width: 240px;
        font-size: 16px;
        /* Adding Animation to search Input */
        animation: placeholderin 2s ease-in 1;
        animation-delay: 3s;
        visibility: hidden;
        animation-fill-mode: forwards;
    }

    .search-input::placeholder{
        font-size: 13px;
    }

    .options{
        display: flex;
        align-items: center;
        margin-top: 30px;
        max-height: 10px;
    }
}